@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Roboto';

a {
    text-decoration: none;
    color: inherit;
}

#page {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    margin-bottom: 60px;
}

.roboto  {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.droid {
    font-family: 'Droid Sans', sans-serif;
    margin: 0px;
}

.deepBlue {
    color: #464f5c;
}

.lightGray {
    color: #c9cdcf;
}



#head {
    text-align: center;
}

.headImg {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#headText1 {
    margin-top: 45px;
    font-size: 27pt;
}

#headText2 {
    font-size: 12pt;
    margin-top: -6px;
}

#headMenu {
    margin-top: 10px;
}

.headMenuIcon {
    height: 34px;
    margin: 40px;
}

.selectedMenu {
    border-bottom: 3px solid #a5e9db;
}



#contentMenu {
    text-align: center;
    margin-bottom: 40px;
}

.menu2item {
    font-size: 20pt;
    display:inline-block;
    position: relative;
    bottom: 5px;
    margin-right: 60px;
    margin-left: 5px;
}

.menu2icon {
    height: 30px;
    margin-right: 10px;
}



#content {
    text-align: justify;
    font-size: 11pt;
}

#skills {
    font-size: 14pt;
    margin-bottom: 60px;
}

#skillAmount {
    padding-left: 260px;
    margin-bottom: 20px;
}

.skillAmountItem {
    display:inline-block;
    text-align: center;
    width: 110px;
    margin: 0;
}

#skillLabels {
    text-align: right;
    float: left;
    padding-top: 16px;
    margin-right: 40px;
}

.skillLabelItem {
    padding-bottom: 31px;
}



.projects {

}

.project {
    width: 260px;
    text-align: center;
    display: inline-block;  
    vertical-align: top;
    margin-left: 3px;
    font-size: 11pt;
    margin-bottom: 20px;
}




#years {
    text-align: right;
    float: left;
    font-size: 14pt;
    margin-top: 16px;
}

#year2012 {margin-top: 0px}
#year2013 {margin-top: 98px}
#year2014 {margin-top: 35px}
#year2015 {margin-top: 38px}
#year2016 {margin-top: 365px}
#now {margin-top: 202px; 
      position: relative; 
      right: 10px;
      color: #c33939}
#time {
     font-size: 15pt;
}

#jobs {
    display: inline-block; 
}

.job {
    margin-left: 14px;
}

.jobTitle {
    font-size: 14pt;
    float: left;
}

.jobDuration {
    float: left;
    position: relative;
    font-size: 11pt;
    top: 3px;
    margin-left: 14px;
}

.jobDescription {
    width: 600px;
    font-size: 11pt;
    margin-top: 5px;
}

/* grad. proj. */
#job1 {
    margin-top: 30px;
    color: #70a79c;
}

/* uni. */
#job2 {
    margin-top: 16px;
    color: #7ca1b9;
}

/* bachelor */
#job3 {
    margin-top: 55px;
    color: #8e7a96;
}

/* tieto 2015 */
#job4 {
    margin-top: 4px;
    color: #a17777;
}

/* assistant 2015 */
#job5 {
    margin-top: 66px;
    color: #a58f64;
}

/* tieto 2015 */
#job6 {
    margin-top: 32px;
    color: #85a46b;
}

/* tieto 2016 */
#job7 {
    margin-top: 65px;
    color: #5eb784;
}

/* assistant 2016 */
#job8 {
    margin-top: 26px;
    color: #5e9db7;
}